.q-list {
  padding: 0;
  margin: 0;
  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 52px;
    border-radius: 10px;
    padding: 0 35px 0 17px;
    &:hover {
      background-color: var(--bg-invert);
    }
    &:hover {
      .q-list__item__icon {
        visibility: visible;
      }
    }
    &__icon {
      cursor: pointer;
      margin-right: 17px;
      visibility: hidden;
    }
    &__count {
      flex: 2 1;
      text-align: right;
    }
  }
}

.mark-text {
  &__value {
    background: #383838;
  }
}