.q-list {
  padding: 0;
  margin: 0;
  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 52px;
    border-radius: 10px;
    padding: 0 35px 0 17px;
    &:hover {
      background-color: var(--bg-invert);
    }
    &:hover {
      .q-list__item__icon {
        visibility: visible;
      }
    }
    &__icon {
      cursor: pointer;
      margin-right: 17px;
      visibility: hidden;
    }
    &__count {
      flex: 2 1;
      text-align: right;
    }
    &--hidden {
      .q-list__item-text {
        opacity: 0.3;
      }
    }
  }

  &__modal {
    width: 536px;
    color: var(--mid-gray);
    padding: 0;
    &-title {
      color: var(--ver-gray);
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    &-content {
      margin-bottom: 27px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.mark-text {
  &__value {
    background: #383838;
  }
}