.actions {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1030px;
  &-list {
    background-color: var(--bg-invert);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 24px;
    li {
      list-style: none;
    }
  }
}