
:root {
  --accent: #2E7AD3;
  --accent-light: #408DE7;
  --error: #C52E31;
  --dark: #171717;
  --bg: #212121;
  --bg-invert: #252525;
  --light-gray: rgba(89, 89, 89, 0.5);
  --mid-gray: #B4B4B4;
  --dark-gray: #383838;
  --alt-gray: #595959;
  --ver-gray: #908F90;
  --light: #FFFFFF;
  --text-light: #F9F9F9;
  --text-gray: #6C6C6C;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter Variable', sans-serif;
  background-color: var(--bg);
  color: var(--light);
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 42px;
  background-color: var(--dark);
  z-index: 10;

  h4 {
    margin: 0;
  }
}

.main {
  width: 1323px;
  padding-top: 40px;
  margin: 0 auto;
}

button {
  background-color: var(--bg-invert);
  color: var(--mid-gray);
  height: 50px;
  border-radius: 10px;
  border-color: transparent;
  padding: 0 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  &:hover, &:active {
    background-color: var(--dark-gray);
  }
}

button[data-accent] {
  color: var(--text-light);
  background-color: var(--accent);
  &:hover, &:active {
    background-color: var(--accent-light);
  }
}

button[data-secondary] {
  background-color: var(--dark-gray);
}

button[data-icon] {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button[data-delete] {
  background-color: var(--error);
  color: var(--text-light);
}

.chart {
  padding-top: 16px;
  &-card {
    border-radius: 14px;
    background-color: var(--bg-invert);
  }
}

input[type="text"] {
  width: 100%;
  height: 53px;
  border-radius: 14px;
  border: 1px solid var(--light-gray);
  background-color: transparent;
  padding: 0 22px;
  outline: none;
  font-size: 18px;
  color: var(--light);
}

.questions {
  padding-top: 63px;
  max-width: 910px;
  margin: 0 auto;
  &-list {
    padding-top: 54px;
    margin-bottom: 90px;
    min-height: 470px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 52px;
      padding: 0 14px 0 17px;
    }
  }
}

.form-group {
  display: block;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group {
  &--dashed {
    .text {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 1px dashed var(--alt-gray);
      }
    }
  }
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: var(--dark-gray);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 14px;
  top: -2px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 5px;
  height: 9px;
  border: solid var(--mid-gray);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--dark-gray);
  margin: 15px 0;
}